html {
    background-color: black;
}

h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-45deg);
    transition: transform 2s ease-out;
}
.cube:hover {
    transform: rotateX(-360deg) rotateY(-360deg);
}
.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.face1 { 
    transform: translateZ(100px);
    background-image: url("one.jpg");
    background-size: cover;
    background-position: center; 
} 
.face2 { 
    transform: rotateY(90deg) translateZ(100px);
    background-image: url("two.jpg");
    background-size: cover;
    background-position: center; 
}  
.face3 { 
    transform: rotateY(180deg) translateZ(100px);
    background-image: url("three.jpg");
    background-size: cover;
    background-position: center;  
} 
.face4 { 
    transform: rotateY(-90deg) translateZ(100px);
    background-image: url("four.jpg");
    background-size: cover;
    background-position: center;  
} 
.face5 { 
    transform: rotateX(90deg) translateZ(100px);
    background-image: url("five.jpg");
    background-size: cover;
    background-position: center;  
} 
.face6 { 
    transform: rotateX(-90deg) translateZ(100px);
    background-image: url("six.jpg");
    background-size: cover;
    background-position: center;  
} 

#roll {
    background-color: #fff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}